{% extends "layout.twig" %}

{% block body %}
	<h1>Mon panier</h1>
{% include "@basket/basket.twig" %}
	<p>
		{% if current_user() %}
			<!-- Display a payment form -->
			<form id="payment-form" method="post" action="{{path('basket.order.payment')}}">
				{{ csrfInput() }}
				<div
					id="payment-element"><!--Stripe.js injects the Payment Element-->
				</div>
				<button id="submit">
					<div class="spinner hidden" id="spinner"></div>
					<span id="button-text">commander</span>
				</button>
				<div id="payment-message" class="hidden"></div>
			</form>
		{% else %}
			<a href="{{path('auth.login')}}" class="btn btn-primary">
				Commander</a>
		{% endif %}
	</p>
{% endblock %}
