{% extends "layout.twig" %}

{% block body %}
	<form method="post" action="{{path('auth.login')}}" accept-charset="UTF-8">
		{{ csrfInput() }}
		{{field('username', null, "Nom d'utilisateur")}}
		{{field('password', null, "Mot de passe")}}
		<button type="submit" class="btn btn-sm btn-outline-secondary">Connecter</button>
	</form>
{% endblock %}
