{% extends "layout.twig" %}

{% block body %}
	<form method="post" action="" accept-charset="UTF-8">
		{{ csrfInput() }}
		{{field('email', null, "Email", {type: 'email'})}}
		<button type="submit" class="btn btn-sm btn-outline-secondary">Renitialiser le mot de passe</button>
	</form>
{% endblock %}



