{% extends "layout.twig" %}

{% block body %}
	<form method="post" action="{{path('auth.login')}}" accept-charset="UTF-8">
		{{ csrfInput() }}
		{{field('password', null, "Mot de passe", {type: 'password'})}}
		{{field('password_confirm', null, "Confirmer le mot de passe", {type: 'password'})}}
		<button type="submit" class="btn btn-sm btn-outline-secondary">Réinitialiser</button>
	</form>
{% endblock %}
