{% extends '@admin/layout.twig' %}

{% block title 'Edition de l\'article'%}

{% block body %}

<h1>{{item.name}}</h1>

<form action="{{path('blog.admin.edit', {id: item.id})}}"  method='post'>

{% include "@blog/admin/form.twig" %}

 <button type="submit" class="btn btn-sm btn-outline-secondary">Editer</button>

</form>

{% endblock %}
